@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

$background: white;
$forefront: rgb(223, 223, 223);
$secondary: #D72638;
$text: #011627;
$font: 'Sono', sans-serif;

html {
    background-color: $background;
    font-family: $font;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1 {
    font-size: 3em;
    color: $text;
    text-align: center;
    margin: 0;
    //padding: 50px 0;
}

h4 {
    font-size: 1.5em;
    color: $text;
    text-align: center;
    margin: 0;
    padding: 0;
}

#title {
    padding: 50px 0;
}

#nav {
    margin: 0 0 0 0;
    padding: 0;
    background-color: $secondary;
    width: 100%;
    height: 50px;

    img {
        float: left;
        width: 50px;
    }

    ul {
        list-style-type: none;
        text-decoration: none;
        text-align: center;
        padding: 10px 0;
        display: block;
        margin: 0 auto;
        width: 50%;

        li{
            text-decoration: none;
            display: inline;
            padding: 0 5%;

            a {
                font-size: 24px;
                color: $background;
                text-decoration: none;
                width: 100%;
                height: 100%;

                svg {
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                    fill: $background;
                }
            }
        }
    }
}

#content {
    background-color: $forefront;
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

#products {
    display: block;
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;

    table {
        width: 100%;
        background-color: $forefront;

        tr {
            width: 100%;

            td {

                br{
                    display: none;
                }

                img {
                    height: 200px;
                    border-radius: 5%;
                }

                h3 {
                    font-size: 24px;
                    margin: 0 5%;
                }

                p {
                    font-size: 18px;
                    margin: 0 5%;
                }

                #price {
                    font-size: 24px;
                    text-align: center;
                }
            }
        }
    }
}

#product {
    display: block;
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;

    table {
        width: 100%;
        background-color: $forefront;

        td {
            width: 40%;
            vertical-align: middle;

            p {
                padding: 0 5%;
            
                h2 {
                    font-size: 36px;
                    text-align: left;
                }
            }

            button {
                background-color: $secondary;
                color: $background;
                font-size: 24px;
                border: none;
                border-radius: 5%;
                padding: 10px 20px;
                margin: 5% 0;
            }
        }

        select {
            font-size: 24px;
            padding: 10px 20px;
            margin: 5% 0;
        }

        img {
            height: 400px;
            border-radius: 5%;
        }
    }
}

#account {
    display: flex;
    justify-content: center;

    .button {
        background-color: $secondary;
        color: $background;
        font-size: 24px;
        border: none;
        border-radius: 5%;
        padding: 10px 20px;
        margin: 5% 0;
        width: 100%;
    }

}